{{>homeNavbar}}

<section>
    {{#if logged_in}}
        {{#each posts as |post|}}
            <a href="/posts/{{post.id}}">
                <div id="viewPost" class="card m=3">
                    <div class="card-header text-white bg-primary">
                        {{post.title}}
                        {{!-- {{#if post.updated}}
                            <p>Updated: {{format_date post.updatedAt}}</p>
                            {{else}}
                    
                            <p>Created: {{format_date post.createdAt}}</p>
                        {{/if}} --}}
                      
                    </div>
                </div>
            </a>
        {{/each}}
    {{/if}}
</section>
<button type="button" id="newPostBtn" class="btn btn-info m-3">➕ New Post</button>
<script src='/js/dashboard.js'></script>
