{{> homeNavbar}}

<section>
{{#each posts as |post|}}
<a href="/posts/{{post.id}}">
    <div id="singlePost" class="card m-3">
        <div class="card-header text-white bg-primary">
            {{post.title}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{post.content}}</p>
                <footer class="blockquote-footer">{{post.user.username}} {{post.createdAt}}</footer>
            </blockquote>
        </div>
    </div>

</a>
{{/each}}
</section>